@import "utilities";

/*FONT*/
$ws_font : 'Montserrat', sans-serif;

/*COLORS*/
$black : #000;
$white : #FFF;

/*MISURE*/
$full_width : 100vw;
$full_height : 100vh;
$half_width: 50vw;
$half_height: 50vh;